body { 
    background-image: url(/media/images/home/vecteezy_educational-background-pattern-and-texture-design-for-book_14157556@0.5x.jpg);
    /*Image by Iftikhar Alam on vecteezy*/
    background-attachment: fixed;
}

/* quick nav home */
#quick-nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: var(--size-4rem-64px);
}

#qnav-h2 {
    text-align: center;
    font-family: var(--quicksand);
    font-size: var(--size-3rem-48px);
    color: var(--white);
    font-weight: 400;
}

#navigation-bubbles {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    color: var(--white);
    text-align: center;
}

#navigation-bubbles a {
    font-family: var(--quicksand);
    font-weight: 400;
    font-size: var(--size-1p5rem-24px);
    text-decoration: none;
    list-style-type: none;
    color: var(--white);
    transition: transform .6s;
}

#navigation-bubbles a:hover{
    transform: scale(1.10);
}

#navigation-bubbles a img {
    border-radius: 50%;
    max-width: 20rem;
}

#kids-qnav, #involved-qnav, #visit-qnav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qnav-img-txt {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    background-color: rgba(0, 0, 0, .25);
    border-radius: .6rem;
    padding: .2rem;
}

/* end */


@media screen and (max-width: 1850px) {
    #navigation-bubbles a img {
        border-radius: 50%;
        max-width: 17rem;
    
    }
}

@media screen and (max-width: 1650px) {
    #navigation-bubbles a img {
        border-radius: 50%;
        max-width: 12rem;
    }

    #qnav-h2 {
        font-size: var(--size-2p5rem-40px);
    }
}

@media screen and (max-width: 964px) {
   
    #navigation-bubbles {
        flex-direction: column;
    }

    #involved-qnav, #visit-qnav {
        margin-top: var(--size-2p5rem-40px);
    }
    
}

@media screen and (max-width: 750px) {
    #qnav-h2 {
        font-size: var(--size-2rem-32px);
    }
}