body {
    background-image: url(/media/images/special-events/vecteezy_minimal-education-pattern-decoration-with-atomic-structure_14157538@0.5x.jpg);
    /*Image by Iftikhar Alam on vecteezy*/
    background-attachment: fixed;
}

#navbar-bold {
    border-radius: .125rem;
    font-weight: 600;
}

#news-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--size-5rem-80px);
    /* align-items: baseline; */
}

#news-content:last-child{
    align-content: flex-start;
}

.news-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: var(var(--size-3rem-48px));
    color: var(--white);
    max-width: 23rem;
    align-items: center;
    width: 100%;
    border-radius: var(--size-1p25rem-20px) 0 var(--size-1p25rem-20px);
    max-height: 60rem;
    font-family: var(--dm-sans);
    border: .125rem solid var(--white);
}

.news-card img {
    max-width: 23rem;
    width: 100%;
    border-radius: var(--size-1p25rem-20px) 0 0 0;
    border-bottom: 1px solid wheat;
}

.text-wrapper-news-card {
    display: flex;
    flex-direction: column;
    padding: 0 var(--size-1rem-16px);
    gap: var(--size-2rem-32px) 0;
    padding: var(--size-1rem-16px) 0 0 0;
}

.text-wrapper-news-card p {
    max-height: 13rem;
    line-clamp: 4;
}

.news-card span {
    width: 100%;
    padding: .6rem var(--size-2rem-32px);
    text-align: center;
    background-color: rgba(24, 39, 70, 0.6);
    border-radius: 0 0 var(--size-1p25rem-20px) 0;
    margin-top: var(--size-1rem-16px);
    border: 1px solid var(--white);
}

.text-wrapper-news-card details {
    margin-top: var(--size-1rem-16px);
}

.text-wrapper-news-card details summary {
    margin-bottom: .5rem;
}

@media screen and (max-width: 1700px) {
    #news-content {
        padding: 0 var(--size-6rem-96px);
    }
}

@media screen and (max-width: 1420px){
    #news-content{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 950px){

    #news-content {
        padding: 0;
    }
}


