/* general styilng */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background: rgba(0, 0, 0, .9);
    padding: 1rem 6rem 4rem 6rem;
    width: calc(100% - 20%);
    margin: 0 auto;
    border-radius: 10px;
}

/* end */



/* variables */
:root {
    --white: #F4FFE3;
    --comfortaa: 'Comfortaa', sans-serif;
    --libre-font: 'Libre Baskerville', serif;
    --quicksand: 'Quicksand', sans-serif;
    --dm-sans: 'DM Sans', sans-serif;
}

/* end */



/* text */
.page-h1{
    font-size: 5rem;
    font-family: var(--quicksand);
    font-weight: 600;
    margin: 2.5rem 0;
}

.page-h1, .page-h2-content {
    text-align: center;
    color: #F4FFE3;
}

.page-h2-content { 
    font-size: 3rem;
    font-family: var(--dm-sans);
    font-weight: 600;
    margin-bottom: 40px;
}

.page-p-content {
    color: #F4FFE3;
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-family: var(--dm-sans);
    font-weight: 400;
}

.center-txt {
    text-align: center;
    list-style-type: none;
}

/* end */



/* seperation line */
hr {
    margin: 3rem 0;
    opacity: .4;
}

/* end */



/* navigation desktop */
.desktop-navigation, .mobile-navigation{ /*targets both navbars with background color*/
    border-bottom: 2px solid green;
    background-color: #E0C45E;
}

.desktop-navigation .links {
    font-family: var(--dm-sans);
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;

    list-style-type: none;
}

.active-desktop {
    border-bottom: 3px solid rgb(57, 13, 57);
    padding: .5rem;
    border-radius: 2px;
    font-weight: 600;
}

.desktop-navigation a {
    text-decoration: none;
}

.desktop-navigation a, a:visited  {
    color: black;
}

.desktop-navigation ul li{
    transition: transform .4s;
}

.desktop-navigation ul li:hover{
    transform: scale(1.2);
    font-weight: 800;
}

.desktop-navigation ul li:first-child{
    transform: scale(1);
    font-weight: 600;
}

.navbar-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-logo img {
    max-width: 60px;
}

/* end */


/* mobile navbar */

.mobile-navigation {
    justify-content: space-between;
    align-items: center;
    padding: 1rem;    
    font-family: var(--dm-sans);
    display: none;
}

.mobile-navigation ul {
    display: flex;
    list-style-type: none;
    align-items: end;
    flex-direction: column;
    font-family: var(--dm-sans);
    row-gap: .7rem;
    margin-top: .6rem;
}

.mobile-navigation li {
    text-align: end;
}

.mobile-navigation a {
    text-decoration: none;
    color: black;
    text-align: right;
}

.mobile-navigation summary i{
    margin-right: .25rem;
}

.mobile-navigation details summary {
    display: flex;
    justify-content: flex-end;
    color: black;
    list-style: none;
    font-family: var(--dm-sans);
    align-items: center;
    font-size: 1.5rem;
}

.mobile-navigation details summary::-webkit-details-marker{ /*https: //stackoverflow.com/questions/45346806/details-and-summary-delete-or-hide-arrow*/
    display: none;
}

.active-mobile {
    border-bottom: 3px solid #222;
    padding: .2rem;
    border-radius: 2px;
    font-weight: 600;
}

/* hero  */
.hero {
    width: 100%;
}

.hero img{
    width: 100%;

    
}

/* end */






/*  */
.content {

}
.content-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}
.content-image img {
    border-radius: 1rem;
    width: 100%;
    max-width: 700px;
}

.page-content {

}

.page-content {

}

/* end */



/* Footer */

footer {
    display: flex;
    color: var(--white);
    text-align: center;
    background-color: black;
    justify-content: space-evenly;
    font-family: var(--dm-sans);
    padding: 2rem 0;
}

.footer-hours ul, .footer-visit {
    display: flex;
    flex-direction: column;
    gap: .4rem 0;
}

.footer-visit{

}

.footer-hours ul {
    margin-top: 1rem;
    list-style-type: none;
    
}

footer a {
    color: var(--white);
    text-decoration: none;
    font-family: var(--dm-sans);
    font-size: 1rem;
    
}

footer a:visited {
    color: var(--white);
}

footer a span{
    text-decoration: underline;
}

/* end */


/* media queries */
@media screen and (max-width: 1850px) {
    main {

        padding: 1rem 4rem 2.5rem 4rem;
    }
}

@media screen and (max-width: 1650px) {
    .page-h1{
        font-size: 3.5rem;
    }

    .page-h2-content{
        font-size: 2.5rem;
    }
}

/* tablet */
@media screen and (max-width: 950px) {
    main {
         width: calc(100% - 15%); 
    }

    footer a {
        font-size: 1rem;
    }
    
    .desktop-navigation {
        display: none;
    }
    .mobile-navigation{
        display: flex;
    }
}



/* end */

/* phone */
@media screen and (max-width: 750px) {

    .page-h1{
        font-size: 2.5rem;
    }

    .page-h2-content {
        font-size: 1.5rem;
    }

    .page-p-content {
        font-size: 1rem;
    }

    footer {
        flex-direction: column;
        gap: 3rem 0;
        padding: 7rem 0;
    }

    .footer a {
        font-size: 1rem;
    }
}
/* end */

@media screen and (max-width: 500px) {

    
}