/* general styilng */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    background-image: url(/media/images/exhibition-spaces/vecteezy_seamless-science-pattern-background-vector-with-molecular_14157493@0.5x.jpg);
    background-position: center;
}

main {
    background: rgba(0, 0, 0, .9);
    padding: 1rem 6rem 4rem 6rem;
    width: calc(100% - 20rem);
    margin: 0 auto;
    border-radius: 10px;
}


/* end */



/* variables */
:root {
    --white: #F4FFE3;
    --comfortaa: 'Comfortaa', sans-serif;
    --libre-font: 'Libre Baskerville', serif;
    --quicksand: 'Quicksand', sans-serif;
    --dm-sans: 'DM Sans', sans-serif;
}

/* end */



/* text */
.page-h1{
    font-size: 3rem;
    font-family: var(--quicksand);
    font-weight: 600;
}

.page-h1, .page-h2-content {
    text-align: center;
    margin: 40px 0 40px 0;
    color: #F4FFE3;
}

.page-h2-content { 
    font-size: 2rem;
    font-family: var(--dm-sans);
    font-weight: 600;
}

.page-p-content {
    color: #F4FFE3;
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-family: var(--dm-sans);
    font-weight: 400;
}

/* end */



/* seperation line */
hr {
    margin: 3rem 0;
    opacity: .4;
}

/* end */



/* navigation desktop */
.desktop-navigation .links {
    font-family: var(--dm-sans);
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #E0C45E;
    list-style-type: none;
}

.active-desktop {
    border-bottom: 3px solid rgb(57, 13, 57);
    padding: 0.5rem;
    border-radius: 2px;
    font-weight: 600;
}

.desktop-navigation a {
    text-decoration: none;
}

.desktop-navigation a, a:visited {
    color: black;
}

.desktop-navigation ul li{
    transition: transform .4s;
}

.desktop-navigation ul li:hover{
    transform: scale(1.2);
    font-weight: 800;
}

.desktop-navigation ul li:first-child{
    transform: scale(1);
    font-weight: 600;
}

.navbar-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-logo img {
    max-width: 60px;
}

/* end */



/* hero desktop */
.hero-desktop {
    
    background-image: url(/media/images/home/tamara-menzi-on-unsplash@0.5x.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
}

.hero-mobile {

}

/* end */






/*  */
.content {

}
.content-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 3rem;
}
.content-image img {
    border-radius: 1rem;
    max-width: 400px;
}

.page-content {

}

.page-content {

}

/* end */



/* Footer */

footer {
    display: flex;
    color: var(--white);
    text-align: center;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    font-family: var(--dm-sans);
    
}

footer *{
   
}

footer a {
    color: var(--white);
    text-decoration: none;
    font-family: var(--dm-sans);
    font-size: 1.5rem;
}

footer a:visited {
    color: var(--white);
}

footer a span{
    text-decoration: underline;
}

/* end */


/* media queries */

@media screen and (max-width: 1850px) {
    main {
        width: calc(100% - 15rem);
        padding: 1rem 4rem 2.5rem 4rem;
    }
}

@media screen and (max-width: 1350px) {

    main {
        width: calc(100% - 15rem);
    }
}

@media screen and (max-width: 1187px) {
    main {
        width: calc(100% - 10rem);
    }


}

/* tablet */
@media screen and (max-width: 900px) {
    main {
         width: calc(100% - 10rem);
    }
}

@media screen and (max-width: 850px) {
    .desktop-navigation {
     
    }

}

/* end */

/* phone */
@media screen and (max-width: 750px) {
    main {
        width: calc(100% - 4rem);
    }

    .content-image img {
        max-width: 20rem;
    }

    /* mobile text */
    .page-h1{
        font-size: 2.5rem;
    }

    .page-h2-content {
        font-size: 1.5rem;
    }

    .page-p-content {
        font-size: 1rem;
    }
    /* end */
    .footer a {
        font-size: 1rem;
    }

}

@media screen and (max-width: 463px) {
    main {
        width: calc(100% - 4rem);
    }
    .content-image img {
        max-width: 15rem;
    }

}